* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;

    color: white;
    position: relative;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 40px;
    width: auto;
    margin-right: 10px; 
}

.logo p {
    font-size: 24px;
    color: white;
    margin: 0;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    padding: 8px 12px;
}

.nav-links li a:hover {
    background-color: rgb(211, 129, 5);
    border-radius: 5px;
}

.nav-links .active {
    background-color: rgb(198, 119, 1);
    border-radius: 5px;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-links {
        margin-top: auto;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 77px;
        left: 0;
        width: 100%;
        background-color: black;
        text-align: center;
    }
    

    .nav-links li {
        margin: 20px;
        padding: 5px;
    }

    .hamburger {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }
}

.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;

    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }
   

    .flex-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
      
        margin: 30px auto;
       
        background: white;
     
    }
    
   
    .flex-section {
        flex-direction: row-reverse;
    }
    
    .content {
        flex: 1;
        padding: 20px;
    }
    
    .content h1 {
        color: #d67d00;
        line-height: 4;
    }
    
    .content p {
        line-height: 1.5;
        font-size: 20px;


    }
    
    .image {
        flex: 1;
        text-align: center;
    }
    
    .image img {
        width: 100%;
        max-width: 500px;
       
    }
  
    footer {
  margin-top: auto;
        text-align: center;
        padding: 15px;
        background-color: black;
        color: white;
    }
    header {
        text-align: center;
        padding: 15px;
        background-color: black;
        color: white;
    }
    
    @media (max-width: 768px) {
        .flex-section {
            flex-direction: column;
            text-align: center;
        }
    
        .flex-section {
            flex-direction: column;
        }
    
        .image img {
            max-width: 100%;
        }
    }