* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.ttf') format('woff2'), 
       ;
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'PoppinsBold';
    src: url('Poppins-Bold.ttf') format('woff2'), 
       ;
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'PoppinsSemiBold';
    src: url('Poppins-SemiBold.ttf') format('woff2'), 
       ;
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: 'Poppins', sans-serif;
  }

  .banner {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-height: 700px;
    align-items: center;
    background-size: cover;
    overflow: hidden;
    background-image: url(wild2.jpg);

    background-position: center;
    background-repeat: no-repeat;
}
@media screen  and (max-width: 768px){
    .banner{
        height: 80vh;
    }
   
    
}
.btn-style {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 24px;
    font-size: 18px;
    color: white;
    background: #d67d00; 
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    width:100%;
    max-width:170px ;
}

.btn-style:hover {
    background: #b46500; 
    transform: scale(1.05);
}


.banner-text {
    max-width : 1200px;
     width: 100%;
    
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); 
   
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 10px;
}

.banner-text h1{
 text-transform: capitalize;
    font-family: 'PoppinsBold', sans-serif;
    font-size: 2rem;
    padding-bottom: 10px; 
    margin-bottom: 10px; 
}

.banner-text p {
    padding-bottom: 10px;
    margin-bottom: 10px;  

    font-size: 1.2rem;
    font-family: 'PoppinsSemiBold', sans-serif;
}

  
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
body {
   
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;

    color: white;
    position: relative;
}

.logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 10px; 
}

.logo img {
    height: 40px;
    width: auto;
}

.logo p {
    font-size: 24px;
    color: white;
    margin: 0;
}


.nav-links {
    
    display: flex;
    list-style: none;
}


.nav-links li {
    
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    padding: 8px 12px;
}

.nav-links li a:hover {
    background-color: rgb(211, 129, 5);
    border-radius: 5px;
}

.nav-links .active {
    background-color: rgb(198, 119, 1);
    border-radius: 5px;
}



.topnav {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 10px ;

    width: 100%;
}


#myLinks {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#myLinks a {
    color: white;
    text-decoration: none;
    padding: 14px;
    font-size: 17px;
    display: block;
    width: 100%;
}

#myLinks a:hover {
    background-color: rgb(211, 129, 5);
    border-radius: 5px;
}

.topnav .icon {
 
    color: white;
 padding:30px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    cursor: pointer;
}

.topnav.active #myLinks {
    display: flex;
}

@media screen and (max-width: 768px) {
      #webnav {
        display: none; 
    }
    .hamburger {
        display: block;
    
    }
    .topnav{
        display: flex;
    }
    
    .navbar{
        display: none;
    }
}






.footer {
    background: #000;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
    margin-top: auto;
    border-top: 1px solid GREY; /* Thick red border at the top */
}

    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
        font-size: 20px;
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    padding:20px;
    }
    
    @media (max-width:720px){
       
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
      
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{

    margin:0% 5%;
    }
    }







    .flex-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
      gap: 20px;
     
       
        background: white;
     
    }
    
   
    .flex-section {
        flex-direction: row-reverse;
    }
    
    .content {
        flex: 1;
       
    }
    
    .content h1 {
        text-transform: capitalize;
        color: #d67d00;
        line-height: 4;
    }
    
    .content p {
        line-height: 1.5;
        font-size: 20px;


    }
    
    .image {
        flex: 1;
        text-align: center;
    }
    
    .image img {
        width: 100%;
       height: 100%;
       
    }
  
 
    header {
      
        background-color: black;
        color: white;
    }
  
    @media (max-width: 768px) {
        .flex-section {
            flex-direction: column;
            text-align: center;
        }
    
        .flex-section {
            flex-direction: column;
        }
    
        .image img {
            max-width: 100%;
        }
    }





#contact-form{
    position: relative;
    width: 100%;
    
    align-items: center;
  
    overflow: visible;
    background-color:rgba(0, 0, 0, 0.963) ;
    margin-bottom: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contact-form h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
#form-content{
    width:100%;
}
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        background-color: rgba(255, 255, 255, 0.7);
      }
      
      input[type=submit] {
        display: inline-block;
        margin-top: 15px;
        padding: 12px 10px;
        font-size: 18px;
        color: white;
        background: #d67d00; 
        text-decoration: none;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
      }
      
      input[type=submit]:hover {
        background-color: #b46500;
        position: relative;
        
      }
      .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #icons-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
 
            
     #contact-us{
        padding: 20px;
     }
      #about-us{
        margin-bottom: 20px;
      }

#home{
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6, p, a, li, label, input, select, textarea {
    font-family: 'Poppins', sans-serif;
}
.error-message {
    
    color: red;
    font-size: 14px;
    display: block;
   margin-bottom: 10px;
}